* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  overflow-x: hidden;
}

.form-item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 8px;

  &.right {
    justify-content: right;
  }

  &.left {
    justify-content: left;
  }

  label {
    width: calc(var(--vscode-font-size) * 6);
    font-size: var(--vscode-font-size);
    color: var(--vscode-foreground);
    font-weight: bold;
    text-align: right;

    @for $i from 1 through 30 {
      &.w#{$i} {
        width: calc(var(--vscode-font-size) * $i);
      }
    }

    &::after {
      content: "：";
    }

    &.no-label::after {
      content: unset;
    }

    &.left {
      text-align: left;
    }
  }

  .field {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
  }

  &.vertical {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    // label {
    //   text-align: left;
    // }
  }
}

.vs-button {
  word-break: keep-all;
  white-space: nowrap;
}

.no-margin {
  margin: 0;
}
